* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  overflow: hidden;
  background-color: #fbeaf2;
}

.contents {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fbeaf2;
}

#front {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: 1.5s ease-in-out;
  transform-origin: 0;
}

#instruct1 {
  background-color: #fbeaf2;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: 1.5s ease-in-out;
  transform-origin: 0;
}
#instruct2 {
  z-index: -2;
  background-color: #fbeaf2;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: 1.5s ease-in-out;
  transform-origin: 0;
}
#instruct3 {
  z-index: -3;
  background-color: #fbeaf2;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: 1.5s ease-in-out;
  transform-origin: 0;
}


.cake {
  width: 10rem;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, 0);
}

.open-card {
  backface-visibility: visible;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(-170deg);
  transition: all 0.8s ease-in-out;
  background-color: rgb(230, 240, 230);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.hpbd {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
}

#front-title {
  font-family: "Oleo Script";
  color: #e9548f;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: -2rem;
}

.subheading {
  color: #913e9a;
  font-family: "Bowlby One SC";
  font-size: 3.5rem;
}

.date {
  color: #e9548f;
  font-family: "Montserrat";
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 150px;
}

.month {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: -1.5rem;
}

.day {
  font-size: 5rem;
  font-weight: 700;
}
#front-pic {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
}

#inside {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 1.5s ease-in-out;
  transform-origin: 0;
  background-color: #fbeaf2;
  color: #d41a5a;
}

.paper p{
  margin-bottom: 20px;
}

#inside-pic {
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

#message {
  color: black;
  /* font-family: Courier; */
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px;
}

footer{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #f04a83;
  align-items: center;
}

.footer-column{
  font-size: 20px;
  padding: 10px 20px;
}

.footer-column p{
  display: inline-block;
  margin-bottom: 10px;
}

.step{
  margin-bottom: 20px;
}

.header{
  font-size: 15px;
  margin-bottom: 10px;
}

.step p{
  margin-bottom: 7px;
}


button {
  border: none;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  color: #923d99;
  cursor: pointer;
  background-color: #fbeaf2;
}


.btn--back {

}
.btn--next {

}

.icon {
  height: 2rem;
}

.paper {
  width: calc(100% - 4rem);
  height: calc(100% - 6rem);
  margin: 1rem 5rem 6rem 2rem;
  background-color: white;
  border-radius: 20px;
  font-size: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0px 40px;
}

.instruct {
  padding: 20px;
  width: calc(100% - 4rem);
  height: calc(100% - 6rem);
  margin: 1rem 5rem 6rem 2rem;
  background-color: white;
  border-radius: 20px;
  font-size: 20px;
  display: grid;
}

.step--only{
  margin-top: 200px;
}

h2{
  color: #760f32;
  font-weight: 700;
}

.instruct p{
  color: #d41a5a;
  margin-bottom: 20px;

}

strong{
  color: #a51446;
  font-weight: 600;
}

.instruct--1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.squareImg {
  width: 250px;
}

.content {
  grid-row: 2;
}

.circle {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -12%;
  left: 1%;
  z-index: -1;
}

.banner {
  width: 600px;
  position: absolute;
  z-index: -1;
  top: -65%;
  left: -50%;
}
.open-mouse{
  width: 200px;
  margin: 0 0 0 0;
}
